.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d9e6e1;
}
.login-form {
  background-color: rgb(242, 242, 242);

  display: flex;
  flex-direction: column;
  width: 500px;

  border: 1px solid #ccc;
  border-radius: 5px;

  h2 {
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 12px 10px;
    width: 80%;
    margin: auto;
  }
  label {
    font-size: 17px;
    margin: auto;
    text-align: left;
    margin: 10px auto;
    width: 80%;
  }

  button {
    background-color: #05c981;
    color: white;
    padding: 14px 20px;
    margin: 0px auto 15px auto;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .error-message {
    color: red;
    text-align: left;
    margin: 10px auto;
    width: 80%;
  }
}
